---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app vikunja
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  driftDetection:
    mode: enabled
  uninstall:
    keepHistory: false
  values:
    controllers:
      vikunja:
        replicas: 1
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: vikunja/vikunja
              tag: 1.0.0@sha256:096e8d4067483b770f3899e20655d6235b0b4c6c9c6ec5ef39bae5b270e1a92a
            env:
              VIKUNJA_SERVICE_ENABLEREGISTRATION: false
              VIKUNJA_SERVICE_TIMEZONE: "America/Detroit"
              VIKUNJA_SERVICE_PUBLICURL: &host "vikunja.franta.us"
              VIKUNJA_SERVICE_ENABLEPUBLICTEAMS: true
              VIKUNJA_AUTH_LOCAL: false
              VIKUNJA_METRICS_ENABLED: true
              VIKUNJA_MAILER_ENABLED: true
              VIKUNJA_MAILER_HOST: smtp-relay.default.svc.cluster.local
              VIKUNJA_MAILER_PORT: 25
              VIKUNJA_MAILER_FROMEMAIL: "vikunja@franta.dev"
              VIKUNJA_MAILER_SKIPTLSVERIFY: true
              VIKUNJA_REDIS_ENABLED: true
              VIKUNJA_REDIS_HOST: "vikunja-dragonfly.default.svc.cluster.local:6379"
              VIKUNJA_REDIS_DB: 0
              VIKUNJA_KEYVALUE_TYPE: "redis"
              # Postgres
              VIKUNJA_DATABASE_HOST: vikunja-pgbouncer.default.svc
              VIKUNJA_DATABASE_DATABASE: *app
              VIKUNJA_DATABASE_USER: *app
              VIKUNJA_DATABASE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: vikunja-pguser-vikunja
                    key: password
              VIKUNJA_DATABASE_SSLMODE: require
              VIKUNJA_DATABASE_TYPE: postgres
            envFrom:
              - secretRef:
                  name: &secret vikunja-secret
            resources:
              requests:
                cpu: 50m
                memory: 100Mi
              limits:
                memory: 500Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/info
                    port: &port 3456
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
    defaultPodOptions:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: http
            scheme: http
            path: /api/v1/metrics
            interval: 1m
            scrapeTimeout: 10s
            basicAuth:
              username:
                name: *secret
                key: VIKUNJA_METRICS_USERNAME
              password:
                name: *secret
                key: VIKUNJA_METRICS_PASSWORD
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.franta.us"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/vikunja/files
      vikunja-config:
        type: secret
        name: vikunja-secret
        globalMounts:
          - path: /app/vikunja/config.yaml
            subPath: config.yaml
            readOnly: true
