---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./webhook
  - ./helmrepository.yaml
  - ./helmrelease.yaml
  - ./prometheusrule.yaml
  # - ./externalsecret.yaml
  # - ./podmonitor.yaml # TODO: Decide whether this should be here
configMapGenerator:
  - name: flux-instance-helm-values
    files:
      - values.yaml=./helm-values.yaml
configurations:
  - kustomizeconfig.yaml
