---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app k8s-gateway
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      k8s-gateway:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          configmap.reloader.stakater.com/reload: *app
        containers:
          app:
            image:
              repository: ghcr.io/k8s-gateway/k8s_gateway
              tag: 1.6.0@sha256:12eaf84047a6aeee831e51a7c553f7fb74cc04408db426376b1eadfb3087b365
            args: ["-conf", "/etc/coredns/Corefile"]
            probes:
              readiness:
                custom: true
                spec:
                  httpGet:
                    path: /ready
                    port: 8181
              liveness:
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: 8080
              startup:
                enabled: false
            resources:
              requests:
                cpu: 50m
                memory: 200Mi
        serviceAccount:
          identifier: *app
        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
    service:
      app:
        controller: *app
        ports:
          metrics:
            enabled: true
            port: 9153
      dns:
        enabled: true
        controller: *app
        type: LoadBalancer
        ipFamilyPolicy: RequireDualStack
        externalTrafficPolicy: Cluster
        annotations:
          lbipam.cilium.io/ips: 10.33.40.53,${CLUSTER_LBA_V6_PREFIX}:53
        ports:
          dns-tcp:
            enabled: true
            port: 53
            protocol: TCP
            targetPort: 1053
          dns-udp:
            enabled: true
            port: 53
            protocol: UDP
            targetPort: 1053
    serviceMonitor:
      app:
        enabled: true
        serviceName: k8s-gateway-app
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 30s
            scrapeTimeout: 30s
    serviceAccount:
      k8s-gateway:
        enabled: true
    persistence:
      config:
        enabled: true
        type: configMap
        name: *app
        globalMounts:
          - path: /etc/coredns/Corefile
            subPath: Corefile
            readOnly: true
      hosts:
        enabled: true
        type: hostPath
        hostPath: /etc/hosts
        globalMounts:
          - path: /etc/hosts
