# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
*.agekey
*.pub
*.key
# Private
.private
.bin
# Taskfile
.task
# Brew
Brewfile.lock.json

# Emacs
.projectile-cache.eld

# Terraform
.terraform
.terraform.tfstate*
.terraform.lock.hcl
terraform.tfstate*
*.tfvars

# Random
yaml-tests
