---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app music-assistant
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system

  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph-external
  values:
    controllers:
      music-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "network",
                "ips": ["10.0.50.212/24"],
                "mac": "10:62:e5:18:1a:31"
              }]
        containers:
          app:
            image:
              repository: ghcr.io/music-assistant/server
              tag: 2.7.2@sha256:8fc7f780a0a30594e170d5a71138852b1a1e7ce33d2d460e50bf8cadf9eda74f
            env:
              TZ: America/Detroit
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: talos-n150-01
      tolerations:
        - key: node.kubernetes.io/assignment
          value: intel-gpu
          operator: Equal
          effect: NoSchedule
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8095

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.franta.us"
          - mass.franta.us
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /data
      cache:
        type: emptyDir
        globalMounts:
          - path: /cache
      music:
        type: nfs
        server: ${NAS_IP}
        path: /emc1/music
        globalMounts:
          - path: /music
