---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app transmission-music
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph-external
    - name: volsync
      namespace: storage
  values:
    controllers:
      transmission:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/frantathefranta/transmission
              tag: 4.0.6@sha256:74653f5373c7aa8a48de033d8bd7cf4723c828465addf38d9420e50af5924f68
            env:
              TZ: America/Detroit
              TRANSMISSION__BLOCKLIST_URL: "https://mirror.codebucket.de/transmission/blocklist.p2p.gz"
              TRANSMISSION__DOWNLOAD_DIR: "/music/downloads"
              TRANSMISSION__INCOMPLETE_DIR_ENABLED: false
              TRANSMISSION__RPC_BIND_ADDRESS: "::"
              TRANSMISSION__RPC_PORT: &port 9091
              TRANSMISSION__RPC_WHITELIST: "10.*.*.*"
              TRANSMISSION__RPC_WHITELIST_ENABLED: false
              TRANSMISSION__RPC_HOST_WHITELIST_ENABLED: false
              TRANSMISSION__PEER_PORT: &peerport 51414
              TRANSMISSION__RATIO_LIMIT_ENABLED: false
              TRANSMISSION__UTP_ENABLED: false
              TRANSMISSION__UMASK: 7
              TRANSMISSION__MESSAGE_LEVEL: 3
              TRANSMISSION__WATCH_DIR_ENABLED: true
              TRANSMISSION__WATCH_DIR: "/music/downloads/watch"
              TRANSMISSION__WATCH_FORCE_GENERIC: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 2Gi
            # probes:
            #   liveness: &probes
            #     enabled: true
            #     custom: true
            #     spec:
            #       httpGet:
            #         path: /transmission/web/
            #         port: *port
            #       initialDelaySeconds: 30
            #       periodSeconds: 10
            #       timeoutSeconds: 1
            #       failureThreshold: 30
            #   readiness: *probes
            #   startup:
            #     enabled: true
            #     custom: true
            #     spec:
            #       httpGet:
            #         path: /transmission/web/
            #         port: *port
            #       failureThreshold: 30
            #       periodSeconds: 10
            #       successThreshold: 1
            #       timeoutSeconds: 1
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: transmission
        type: LoadBalancer
        ipFamilyPolicy: RequireDualStack
        annotations:
          lbipam.cilium.io/ips: 10.33.40.65,${CLUSTER_LBA_V6_PREFIX}:65
        ports:
          http:
            port: *port
          bittorrent:
            enabled: true
            port: *peerport
            protocol: TCP
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.franta.us"
          - tm.franta.us
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

    persistence:
      config:
        existingClaim: transmission-music
      tmp:
        type: emptyDir
      media:
        type: nfs
        server: ${NAS_IP}
        path: /emc1/music
        globalMounts:
          - path: /music
