---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app snmp-exporter-idrac
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: snmp-exporter
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: kube-prometheus-stack
      namespace: observability
  values:
    fullnameOverride: *app
    extraArgs: ["--config.file=/config/snmp.yaml"]
    extraConfigmapMounts:
      - name: &name idrac-snmp-configmap
        mountPath: /config/snmp.yaml
        subPath: snmp.yaml
        configMap: *name
        readOnly: true
        defaultMode: 420
    podAnnotations:
      configmap.reloader.stakater.com/reload: *name
    serviceMonitor:
      enabled: true
      params:
        - name: dell-idrac-0
          module: ["dell"]
          target: bmc-actinium.infra.franta.us
          auth: ["public_v2"]
        - name: dell-idrac-1
          module: ["dell"]
          target: bmc-thorium.infra.franta.us
          auth: ["public_v2"]
        - name: dell-idrac-2
          module: ["dell"]
          target: bmc-protactinium.infra.franta.us
          auth: ["public_v2"]
      path: /snmp
      scrapeTimeout: 45s
      relabelings:
        - { sourceLabels: ["__param_target"], targetLabel: instance }
