---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bar-assistant
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph-external
    - name: volsync
      namespace: storage
    - name: salt-rim
      namespace: default
    - name: meilisearch
      namespace: default
  values:
    controllers:
      bar-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          chown-app:
            image:
              repository: docker.io/library/alpine
              tag: "3.23"
            command:
              - /bin/sh
              - -c
            args:
              - |
                 chown -R 33:33 /var/www/cocktails/storage/bar-assistant
        containers:
          bar-assistant:
            image:
              repository: barassistant/server
              tag: 5.12.0
            env:
              BASE_URL: https://bar.franta.us
              APP_URL: https://bar.franta.us/bar
              MEILISEARCH_HOST: http://meilisearch:7700
              REDIS_HOST: bar-assistant-dragonfly.default.svc.cluster.local
              CACHE_DRIVER: redis
              SESSION_DRIVER: redis
              ALLOW_REGISTRATION: false
            envFrom:
              - secretRef:
                  name: bar-assistant-secret
            securityContext:
              privileged: true
            resources:
              requests:
                cpu: 10m
                memory: 256M
              limits:
                memory: 512M
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthcheck
                    port: 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
          nginx:
            image:
              repository: ghcr.io/nginxinc/nginx-unprivileged
              tag: 1.27.4
    service:
      app:
        ipFamilyPolicy: PreferDualStack
        controller: *app
        ports:
          nginx:
            port: &nginx-port 3000
    route:
      app:
        hostnames:
          - "bar.franta.us"
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *nginx-port

    persistence:
      app:
        existingClaim: *app
        globalMounts:
          - path: /var/www/cocktails/storage/bar-assistant
            subPath: bar-assistant
      nginx-config:
        type: configMap
        name: bar-assistant-configmap
        advancedMounts:
          bar-assistant:
            nginx:
              - path: /etc/nginx/nginx.conf
                subPath: nginx-config
                readOnly: true
      memory:
        type: emptyDir
        advancedMounts:
          bar-assistant:
            nginx:
              - path: /var/cache/nginx
