---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app zwave-js-ui
spec:
  targetNamespace: home-automation
  components:

    - ../../../../components/volsync
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: multus-config
      namespace: network
    - name: rook-ceph-cluster
      namespace: rook-ceph-external
    - name: external-secrets
      namespace: external-secrets
  path: ./kubernetes/apps/home-automation/zwave-js-ui/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  wait: false
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 500Mi
      VOLSYNC_ACCESSMODES: ReadWriteOnce
      VOLSYNC_STORAGECLASS: ceph-rbd
      VOLSYNC_SNAPSHOTCLASS: ceph-rbd-snapshot
