---
web:
  port: ${WEB_PORT}
  # No need to explicitly bind to IPv6, does it automatically
storage:
  type: postgres
  path: ${POSTGRES_URI}?sslmode=require
  caching: true
metrics: true
debug: false
ui:
  title: Talos-Maxi Status
  header: Talos-Maxi Status
  logo: https://raw.githubusercontent.com/frantathefranta/hugoblog/master/static/android-chrome-512x512.png
alerting:
  pushover:
    application-token: ${GATUS_PUSHOVER_TOKEN}
    user-key: ${PUSHOVER_USER_KEY}
    default-alert:
      description: health-check failed
      send-on-resolved: true
      failure-threshold: 3
      success-threshold: 3
endpoints:
  - name: status
    group: talos-maxi-external
    url: https://status.franta.us
    interval: 1m
    client:
      dns-resolver: tcp://1.1.1.1:53
    conditions: ["[STATUS] == 200"]
    alerts: [{ type: pushover }]
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m
