---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name external-dns-internal
spec:
  interval: 30m
  chart:
    spec:
      chart: external-dns
      version: 1.17.0
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
      interval: 30m
  install:
    disableSchemaValidation: true # Ref: https://github.com/kubernetes-sigs/external-dns/issues/5206
    remediation:
      retries: 3
  upgrade:
    disableSchemaValidation: true # Ref: https://github.com/kubernetes-sigs/external-dns/issues/5206
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: *name
    logLevel: info
    service:
      ipFamilyPolicy: PreferDualStack
    domainFilters:
      - "franta.us"

    env:
      - name: EXTERNAL_DNS_RFC2136_HOST
        value: "10.0.30.53"
      - name: EXTERNAL_DNS_RFC2136_PORT
        value: "53"
      - name: EXTERNAL_DNS_RFC2136_ZONE
        value: "franta.us"
      - name: EXTERNAL_DNS_RFC2136_TSIG_AXFR
        value: "true"
      - name: EXTERNAL_DNS_RFC2136_TSIG_KEYNAME
        valueFrom:
          secretKeyRef:
            name: &bindSecret external-dns-bind-secret
            key: EXTERNAL_DNS_RFC2136_TSIG_KEYNAME
      - name: EXTERNAL_DNS_RFC2136_TSIG_SECRET_ALG
        valueFrom:
          secretKeyRef:
            name: *bindSecret
            key: EXTERNAL_DNS_RFC2136_TSIG_SECRET_ALG
      - name: EXTERNAL_DNS_RFC2136_TSIG_SECRET
        valueFrom:
          secretKeyRef:
            name: *bindSecret
            key: EXTERNAL_DNS_RFC2136_TSIG_SECRET

    podAnnotations:
      secret.reloader.stakater.com/reload: *bindSecret

    policy: sync
    provider: rfc2136

    resources:
      requests:
        cpu: 16m
        memory: 90M
      limits:
        memory: 90M

    serviceMonitor:
      enabled: true

    sources:
      - gateway-httproute
      - ingress
      - service

    txtPrefix: "k8s."
    txtOwnerId: talos-maxi

  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: *name
            patch: |
              - op: add
                path: /spec/template/spec/enableServiceLinks
                value: false
