---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app snmp-exporter-arista
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: snmp-exporter
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: kube-prometheus-stack
      namespace: observability
  values:
    fullnameOverride: *app
    extraArgs: ["--config.file=/config/snmp.yaml"]
    extraConfigmapMounts:
      - name: &name arista-snmp-configmap
        mountPath: /config/snmp.yaml
        subPath: snmp.yaml
        configMap: *name
        readOnly: true
        defaultMode: 420
    podAnnotations:
      configmap.reloader.stakater.com/reload: *name
    serviceMonitor:
      enabled: true
      params:
        - name: arista01
          module: ["arista_sw"]
          target: 10.0.0.2
          auth: ["public_v2"]
        - name: arista01-if
          module: ["if_mib"]
          target: 10.0.0.2
          auth: ["public_v2"]
        - name: arista01-ip
          module: ["ip_mib"]
          target: 10.0.0.2
          auth: ["public_v2"]
      path: /snmp
      scrapeTimeout: 10s
      relabelings:
        - { sourceLabels: ["__param_target"], targetLabel: instance }
