---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - ./atuin/ks.yaml
  - ./authelia/ks.yaml
  - ./bar-assistant/ks.yaml
  - ./glauth/ks.yaml
  - ./hugo/ks.yaml
  - ./idrac-fan-control/ks.yaml
  - ./lubelog/ks.yaml
  - ./miniflux/ks.yaml
  # - ./netbox/ks.yaml
  - ./oxidized/ks.yaml
  - ./paperless/ks.yaml
  - ./smtp-relay/ks.yaml
  - ./syncthing/ks.yaml
  - ./tandoor/ks.yaml
  - ./vikunja/ks.yaml
components:
  - ../../components/common
