---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app haproxy
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      haproxy:
        strategy: RollingUpdate
        replicas: 2
        annotations:
          configmap.reloader.stakater.com/reload: &configmap haproxy-config
        containers:
          app:
            image:
              repository: ghcr.io/haproxytech/haproxy-docker-alpine
              tag: 3.2.9@sha256:56bb08a5dae56bbdb8f8d3b90fe0be70c33692da962ae35c9e733bccb1eedfd1
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    port: 8404
                    path: /
              readiness: *probes
    service:
      rados-gw:
        controller: haproxy
        ports:
          http:
            port: &port 7480
      metrics:
        controller: haproxy
        ports:
          http:
            port: 8405
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    route:
      app:
        hostnames:
          - "rgw.franta.us"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: haproxy-rados-gw
                port: *port
    persistence:
      config:
        type: configMap
        name: *configmap
        advancedMounts:
          haproxy:
            app:
              - path: /usr/local/etc/haproxy/haproxy.cfg
                subPath: haproxy.cfg
      tmp:
        type: emptyDir
