---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app zwave-js-ui
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      nodeSelector:
        feature.node.kubernetes.io/usb-ff_10c4_ea60.present: "true"
      tolerations:
        - key: special
          operator: Exists
          effect: NoSchedule
    controllers:
      zwave-js-ui:
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "network",
                "ips": ["10.0.50.211/24"]
              }]
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/zwave-js/zwave-js-ui
              tag: 11.9.1
            env:
              TZ: America/Detroit
            securityContext:
              privileged: true
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 8091
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
      websocket:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.33.40.71,${CLUSTER_LBA_V6_PREFIX}:71
          external-dns.alpha.kubernetes.io/hostname: zwave-ws.franta.us
        ports:
          websocket:
            port: 3000
    serviceMonitor:
      app:
        serviceName: *app
        enabled: true # requires https://github.com/kvaster/zwavejs-prom
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.franta.us"
          - zwave.franta.us
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: zwave-js-ui-app
                port: *port

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /usr/src/app/store
      usb:
        enabled: true
        type: hostPath
        hostPath: /dev/serial/by-id/usb-Silicon_Labs_CP2102N_USB_to_UART_Bridge_Controller_f4e28549acc3ec1187583f430af30733-if00-port0
        globalMounts:
          - path: /dev/ttyUSB0
