talos-maxi-talos-actinium.yaml
talos-maxi-talos-thorium.yaml
talos-maxi-talos-protactinium.yaml
talos-maxi-talos-actinium-agent.yaml
talos-maxi-talos-thorium-agent.yaml
talos-maxi-talos-protactinium-agent.yaml
talos-maxi-talos-g3-mini.yaml
talosconfig
talos-maxi-talos-n150-01.yaml
