---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: talos-g3-mini
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  topology.kubernetes.io/zone: g3-mini
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: link.driver == "e1000e"
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - net0
bondMode: 802.3ad
mtu: 1500
lacpRate: fast
xmitHashPolicy: layer3+4
miimon: 100
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.20
vlanID: 20
parent: bond0
mtu: 1500
dhcp: false
---
apiVersion: v1alpha1
kind: VLANConfig
name: bond0.50
vlanID: 50
parent: bond0
mtu: 1500
dhcp: false
---
apiVersion: v1alpha1
kind: UdevConfig
rules:
  - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
  - SUBSYSTEM=="apex", KERNEL=="apex*", GROUP="44", MODE="0660"
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
provisioning:
  diskSelector:
    match: disk.model == "SK hynix*"
  wipe: false