---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app birdnet
spec:
  targetNamespace: home-automation
  components:

    - ../../../../components/volsync
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 30m
  timeout: 5m
  path: "./kubernetes/apps/home-automation/birdnet/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  dependsOn:
    - name: scrypted
      namespace: home-automation
    - name: rook-ceph-cluster
      namespace: rook-ceph-external
    - name: external-secrets
      namespace: external-secrets
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi
