---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app hugo
spec:
  targetNamespace: default
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  path: ./kubernetes/apps/default/hugo/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false # no flux ks dependents
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      GATUS_SUBDOMAIN: www
# ---
# # yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/imagerepository-image-v1beta2.json
# apiVersion: image.toolkit.fluxcd.io/v1
# kind: ImageRepository
# metadata:
#   name: hugoblog
#   namespace: flux-system
# spec:
#   image: frantathefranta/hugoblog
#   interval: 5m
# ---
# # yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/imagepolicy-image-v1beta2.json
# apiVersion: image.toolkit.fluxcd.io/v1
# kind: ImagePolicy
# metadata:
#   name: hugoblog-repo-policy
#   namespace: flux-system
# spec:
#   imageRepositoryRef:
#     name: hugoblog
#   filterTags:
#     ## use "pattern: '[a-f0-9]+-(?P<ts>[0-9]+)'" if you copied the workflow example using github.run_number
#     pattern: "[a-f0-9]+-(?P<ts>[0-9]+)"
#     extract: "$ts"
#   policy:
#     numerical:
#       order: asc
