---
customization:
  systemExtensions:
    officialExtensions:
      {% if role == "controlplane" %}
      - siderolabs/qemu-guest-agent
      {% else %}
      - siderolabs/i915
      - siderolabs/intel-ucode
      - siderolabs/mei
      {% endif %}
      - siderolabs/iscsi-tools
      - siderolabs/util-linux-tools