{% set extensions = ["siderolabs/iscsi-tools", "siderolabs/util-linux-tools"] -%}
{% if role == "controlplane" -%}
{% set extensions = extensions + ["siderolabs/qemu-guest-agent"] -%}
{% else -%}
{% set extensions = extensions + ["siderolabs/i915", "siderolabs/intel-ucode", "siderolabs/mei", "siderolabs/realtek-firmware"] -%}
{% endif -%}
---
customization:
  systemExtensions:
    officialExtensions:
{% for extension in extensions | sort %}      - {{ extension }}
{% endfor -%}
