# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.11.5
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.34.2

clusterName: &cluster talos-maxi
endpoint: https://10.33.40.25:6443
clusterPodNets:
  - "10.69.0.0/16"
  - "${CLUSTER_POD_V6_CIDR}"
clusterSvcNets:
  - "10.96.0.0/16"
  - "${CLUSTER_SVC_V6_CIDR}"
additionalApiServerCertSans: &sans
  - "10.33.40.25"
  - "talos-maxi.franta.us"
  - 127.0.0.1 # KubePrism
additionalMachineCertSans: *sans
cniConfig:
  name: none

nodes:
  - hostname: "talos-actinium"
    ipAddress: "10.33.35.1"
    installDisk: "/dev/sda"
    talosImageURL: factory.talos.dev/nocloud-installer/88d1f7a5c4f1d3aba7df787c448c1d3d008ed29cfb34af53fa0df4336a56040b
    controlPlane: true
    nodeLabels:
      topology.kubernetes.io/region: *cluster
      topology.kubernetes.io/zone: actinium
    # extraManifests:
    #   - ./watchdog.yaml
    networkInterfaces:
      - interface: eth0
        dhcp: true
        mtu: 1500
        vip:
          ip: "10.33.40.25"
      - interface: eth1
        dhcp: false
      - interface: eth2
        dhcp: false
  - hostname: "talos-thorium"
    ipAddress: "10.33.35.2"
    installDisk: "/dev/sda"
    talosImageURL: factory.talos.dev/nocloud-installer/88d1f7a5c4f1d3aba7df787c448c1d3d008ed29cfb34af53fa0df4336a56040b
    controlPlane: true
    nodeLabels:
      topology.kubernetes.io/region: *cluster
      topology.kubernetes.io/zone: thorium
    networkInterfaces:
      - interface: eth0
        dhcp: true
        mtu: 1500
        vip:
          ip: "10.33.40.25"
      - interface: eth1
        dhcp: false
      - interface: eth2
        dhcp: false
  - hostname: "talos-protactinium"
    ipAddress: "10.33.35.3"
    installDisk: "/dev/sda"
    talosImageURL: factory.talos.dev/nocloud-installer/88d1f7a5c4f1d3aba7df787c448c1d3d008ed29cfb34af53fa0df4336a56040b
    controlPlane: true
    nodeLabels:
      topology.kubernetes.io/region: *cluster
      topology.kubernetes.io/zone: protactinium
    extraManifests:
      - ./watchdog.yaml
    networkInterfaces:
      - interface: eth0
        dhcp: true
        mtu: 1500
        vip:
          ip: "10.33.40.25"
      - interface: eth1
        dhcp: false
      - interface: eth2
        dhcp: false
  - hostname: "talos-g3-mini"
    ipAddress: "10.33.35.21"
    installDiskSelector:
      model: "SK hynix*"
    talosImageURL: factory.talos.dev/installer/0b13754612577000b1d6a89683e002ba41efbc0a57c91d29be8da96a0dfd8a6f
    controlPlane: false
    nodeLabels:
      topology.kubernetes.io/region: *cluster
      # topology.kubernetes.io/zone: nonProxmox
    # nodeTaints:
    #   intel-gpu: true:NoSchedule
    extraManifests:
      - ./watchdog.yaml
    networkInterfaces:
      - interface: bond0
        dhcp: true
        bond:
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
          miimon: 100
          interfaces:
            - eno1
        vlans:
          - vlanId: 20
            mtu: 1500
            dhcp: false
          - vlanId: 50
            mtu: 1500
            dhcp: false
    patches:
    # Configure udev rules
      - |-
        machine:
          udev:
            rules:
              # Intel GPU
              - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
              # Coral Edge M.2 TPU
              - SUBSYSTEM=="apex", KERNEL=="apex*", GROUP="44", MODE="0660"
  - hostname: "talos-n150-01"
    ipAddress: "10.33.35.22"
    installDiskSelector:
      model: "TWSC*"
    talosImageURL: factory.talos.dev/metal-installer/9ba0b24a91c2b56085dceb616daaf013f0453bcf2f2036814be062733e583806
    controlPlane: false
    nodeLabels:
      topology.kubernetes.io/region: *cluster
    extraManifests:
      - ./watchdog.yaml
    networkInterfaces:
      - interface: bond0
        dhcp: true
        bond:
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
          miimon: 100
          interfaces:
            - enp1s0
        vlans:
          - vlanId: 20
            mtu: 1500
            dhcp: false
          - vlanId: 50
            mtu: 1500
            dhcp: false

    patches:
    # Configure udev rules
      - |-
        machine:
          udev:
            rules:
              # Intel GPU
              - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
      - |-
        machine:
          kubelet:
            extraConfig:
              registerNode: true
              registerWithTaints:
                - effect: NoSchedule
                  key: node.kubernetes.io/assignment
                  value: intel-gpu

patches:
  # Configure containerd
  - |-
    machine:
      files:
        - op: create
          path: /etc/cri/conf.d/20-customization.part
          content: |
            [plugins."io.containerd.cri.v1.images"]
              discard_unpacked_layers = false

  - |-
    machine:
      install:
        extraKernelArgs:
          - -init_on_alloc          # Less security, faster puter
          - -selinux                # Less security, faster puter
          - mitigations=off         # Less security, faster puter
          - security=none           # Less security, faster puter
          - talos.auditd.disabled=1 # Less security, faster puter
          - apparmor=0              # Less security, faster puter
          - init_on_alloc=0         # Less security, faster puter
          - init_on_free=0          # Less security, faster puter

  # Disable search domain everywhere
  - |-
    machine:
      network:
        disableSearchDomain: true

  # Enable cluster discovery
  - |-
    cluster:
      discovery:
        registries:
          kubernetes:
            disabled: true
          service:
            disabled: false

  # Enable MutatingAdmissionPolicy
  # - |-
  #   cluster:
  #     apiServer:
  #       extraArgs:
  #         enable-aggregator-routing: true
  #         runtime-config: admissionregistration.k8s.io/v1alpha1=true
  #         feature-gates: MutatingAdmissionPolicy=true

  # Configure kubelet
  - |-
    machine:
      kubelet:
        extraConfig:
          maxParallelImagePulls: 10
          maxPods: 400
          serializeImagePulls: false
        nodeIP:
          validSubnets: ["10.33.35.0/27", "${CLUSTER_NODE_V6_CIDR}"]

  # Force nameserver
  - |-
    machine:
      network:
        nameservers: ["10.33.10.0", "${DNS_IPV6_0}"]
        # nameservers: ["10.33.10.0", "10.33.10.1", "${DNS_IPV6_0}", "${DNS_IPV6_1}"]
        # nameservers: ["10.33.10.0", "10.33.10.1"]

  # Enable Host DNS: https://www.talos.dev/v1.7/talos-guides/network/host-dns/
  - |-
    machine:
      features:
        hostDNS:
          enabled: true
          resolveMemberNames: true
          # Incompatible with Cilium bpf masquerade. siderolabs/talos/#8836
          forwardKubeDNSToHost: false

  # Configure NTP
  - |-
    machine:
      time:
        disabled: false
        servers: ["192.168.247.254", "10.33.0.1"]

  # Custom sysctl settings
  - |-
    machine:
      sysctls:
        fs.inotify.max_queued_events: "65536"
        fs.inotify.max_user_watches: "524288"
        fs.inotify.max_user_instances: "8192"
        net.core.default_qdisc: "fq"
        net.core.rmem_max: "67108864"            # Cloudflared / QUIC
        net.core.wmem_max: "67108864"            # Cloudflared / QUIC
        net.core.bpf_jit_harden: "1"
        net.ipv4.tcp_congestion_control: bbr
        net.ipv4.tcp_fastopen: "3" # Send and accept data in the opening SYN packet
        # net.ipv4.tcp_mtu_probing: 1 # Jumbo frames
        net.ipv6.conf.bond0.accept_ra: "2"
        net.ipv6.conf.all.accept_ra: "2"
        net.ipv6.conf.all.forwarding: "1"
        # net.ipv4.tcp_rmem: 4096 131072 33554432  # 1K, 128K, 32M; QUIC and 10 Gbps
        # net.ipv4.tcp_wmem: 4096 131072 33554432  # 1K, 128K, 32M; QUIC and 10 Gbps
        vm.nr_hugepages: "1024"

  - |-
    machine:
      kernel:
        modules:
          - name: nbd
  # Mount openebs-hostpath in kubelet
  - |-
    machine:
      kubelet:
        extraMounts:
          - destination: /var/openebs/local
            type: bind
            source: /var/openebs/local
            options: ["bind", "rshared", "rw"]

controlPlane:
  patches:
    # Cluster configuration
    - |-
      cluster:
        allowSchedulingOnControlPlanes: true
        controllerManager:
          extraArgs:
            bind-address: "0.0.0.0"
            node-cidr-mask-size-ipv6: "112"
        coreDNS:
          disabled: true
        proxy:
          disabled: true
        scheduler:
          extraArgs:
            bind-address: "0.0.0.0"

    # ETCD configuration
    - |-
      cluster:
        etcd:
          extraArgs:
            listen-metrics-urls: http://0.0.0.0:2381
          advertisedSubnets: ["10.33.35.0/27"]

    # Disable default API server admission plugins.
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    # Configure nfs mount options
    - |-
      machine:
        files:
          - op: overwrite
            path: /etc/nfsmount.conf
            permissions: 0o644
            content: |
              [ NFSMount_Global_Options ]
              nfsvers=4.2
              hard=True
              noatime=True
              nodiratime=True
              rsize=131072
              wsize=131072
              nconnect=8
    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles: ["os:admin"]
            allowedKubernetesNamespaces: ["system-upgrade", "actions-runner-system"]
