---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app intel-gpu-exporter
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      nodeSelector:
        intel.feature.node.kubernetes.io/gpu: "true"
      tolerations:
        - key: special
          operator: Exists
          effect: NoSchedule
        - key: node.kubernetes.io/assignment
          value: intel-gpu
          operator: Equal
          effect: NoSchedule
    controllers:
      intel-gpu-exporter:
        type: daemonset
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/intel-gpu-exporter
              tag: rolling@sha256:90a95483bf5d3752f4db2ab2e1663f19bba307fd832bf53557cbdc38c3701f84
            resources:
              requests:
                gpu.intel.com/i915_monitoring: 1
                cpu: 100m
                memory: 100Mi
              limits:
                gpu.intel.com/i915_monitoring: 1
                memory: 500Mi
            securityContext:
              privileged: true
    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080
    serviceMonitor:
      app:
        serviceName: app
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
            relabelings:
              - sourceLabels: [__meta_kubernetes_pod_node_name]
                targetLabel: node
