---
machine:
  nodeLabels:
    topology.kubernetes.io/zone: actinium
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: talos-actinium
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: eth0
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: 10.33.40.25
link: eth0