---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name cross-seed-secret
spec:
  secretStoreRef:
    name: akeyless-secret-store
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        config.js: |
          module.exports = {
            action: "inject",
            apiKey: "{{.CROSS_SEED_API_KEY}}",
            duplicateCategories: true,
            flatLinking: false,
            includeNonVideos: true,
            includeEpisodes: true,
            includeSingleEpisodes: true,
            linkCategory: "cross-seed",
            linkType: "hardlink",
            linkDirs: [
              "/media/downloads/xseed"
              ],
            matchMode: "safe",
            outputDir: null,
            torrentClients: [
              "qbittorrent:http://qbittorrent.media.svc.cluster.local:8080",
            ],
            radarr: [
              "http://radarr.media.svc.cluster.local/?apikey={{ .RADARR_API_KEY }}"
            ],
            skipRecheck: true,
            sonarr: [
              "http://sonarr.media.svc.cluster.local/?apikey={{ .SONARR_API_KEY }}"
            ],
            torznab: [
              `http://prowlarr.media.svc.cluster.local:80/2/api?apikey={{ .PROWLARR_API_KEY }}`, // BHD
              `http://prowlarr.media.svc.cluster.local:80/60/api?apikey={{ .PROWLARR_API_KEY }}`, // HDB
              `http://prowlarr.media.svc.cluster.local:80/67/api?apikey={{ .PROWLARR_API_KEY }}`, // MTV
              `http://prowlarr.media.svc.cluster.local:80/68/api?apikey={{ .PROWLARR_API_KEY }}`, // PTP
              `http://prowlarr.media.svc.cluster.local:80/7/api?apikey={{ .PROWLARR_API_KEY }}`, // UHD
              `http://prowlarr.media.svc.cluster.local:80/66/api?apikey={{ .PROWLARR_API_KEY }}` // BTN
            ],
            useClientTorrents: true
          };
  dataFrom:
    - extract:
        key: /cross-seed
    - extract:
        key: /prowlarr
    - extract:
        key: /sonarr
    - extract:
        key: /radarr
