---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name varroa-secret
spec:
  secretStoreRef:
    name: akeyless-secret-store
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        config.yaml: |
          general:
            watch_directory: /music/downloads/watch
            download_directory: /music/downloads
            automatic_metadata_retrieval: true
            log_level: 1

          trackers:
            - name: red
              api_key: "{{ .RED_API_KEY  }}"
              user: "{{ .RED_USER_NAME }}"
              url: https://redacted.sh
            # - name: ops
            #   api_key: "{{ .OPS_API_KEY }}"
            #   url: https://orpheus.network

          autosnatch:
            - tracker: red
              irc_server: irc.scratch-network.net:6697
              irc_key: "{{ .RED_IRC_KEY }}"
              irc_ssl: true
              irc_ssl_skip_verify: true
              nickserv_password: "{{ .RED_NICKSERV_PASS }}"
              bot_name: "{{ .RED_BOT_NAME }}"
              announcer: Drone
              announce_channel: "#red-announce"
          stats:
            - tracker: red
              update_period_hour: 16

          notifications:
            pushover:
              user: "{{ .PUSHOVER_USER_KEY }}"
              token: "{{ .VARROA_PUSHOVER_TOKEN }}"
              include_buffer_graph: true

          webserver:
            serve_stats: true
            stats_user: "{{ .WEBSERVER_STATS_USER }}"
            stats_password: "{{ .WEBSERVER_STATS_PASSWORD }}"
            allow_downloads: true
            token: "{{ .WEBSERVER_TOKEN }}"
            http_port: 20346
            https_port: 20347
            https_hostname: varroa.franta.us
            theme: dark_green

          filters:
            - name: newly_added
              watch_directory: /music/downloads/watch
              format:
                - FLAC
              source:
                - CD
                - WEB
                - DVD
                - SACD
                - Blu-Ray
                - Soundboard
                - DAT
                - Cassette
              type:
                - Album
                - EP
                - Live album
              quality:
                - 24bit Lossless
                - Lossless
              artist:
                - Nala Sinephro


            - name: artists
              watch_directory: /music/downloads/watch
              format:
                - FLAC
              source:
                - CD
                - WEB
                - DVD
                - SACD
                - Blu-Ray
                - Soundboard
                - DAT
                - Cassette
              type:
                - Album
                - EP
                - Live album
              quality:
                - 24bit Lossless
                - Lossless
              artist:
                - Acid Dad
                - Acid Mothers Temple
                - Acoustic Ladyland
                - AJJ
                - Akron/Family
                - Ali Farka Touré
                - Ali Farka Touré & Toumani Diabaté
                - All Them Witches
                - alt-J
                - Altin Gün
                - Altın Gün
                - Altin Gun
                - Alvvays
                - Amadou & Mariam
                - Amanaz
                - Amon Düül II
                - Amyl and The Sniffers
                - Amyl & The Sniffers
                - Angel Olsen
                - Azmari
                - Bambara
                - Beck
                - Bent Arcana
                - Bent Arcana, John Dwyer, Ryan Sawyer, Peter Kerlin, Tomas Dolas, Brad Caulkins, Kyp Malone, Marcos Rodriguez
                - Big Thief
                - Black Country, New Road
                - black midi
                - Black Pumas
                - Blues Pills
                - Boogarins
                - Book of Wyrms
                - Broken Brass Ensemble
                - Bruno Pernadas
                - Cage the Elephant
                - Can
                - Car Seat Headrest
                - Cate Le Bon
                - Cavs
                - clipping.
                - Closure in Moscow
                - Cloud Nothings
                - Coachwhips
                - Colour Haze
                - Cortex
                - Courtney Barnett
                - Courtney Barnett and Kurt Vile
                - Damaged Bug
                - Damo Suzuki
                - Death Grips
                - Death Valley Girls
                - Deerhunter
                - Delvon Lamarr Organ Trio
                - Destroyer
                - Dig That Body Up, It’s Alive
                - Earth
                - Elder
                - Elephant Stone
                - Father John Misty
                - Fat White Family
                - Fiona Apple
                - FKA twigs
                - Flaccid Mojo
                - Fleet Foxes
                - Flower Travellin’ Band
                - Flying Lotus
                - Foals
                - Focus
                - Fontaines D.C.
                - Food Brain
                - Frankie and The Witch Fingers
                - Fruit Tones
                - Fuzz
                - Geese
                - Gene Clark
                - Genesis
                - Gilla Band
                - Gitkin
                - Goat
                - Godspeed You Black Emperor!
                - Godspeed You! Black Emperor
                - Gondhawa
                - Go Kurosawa
                - Gros Coeur
                - Gypsy Kumbia Orchestra
                - Hawkwind
                - Hella
                - Holy Wave
                - Hooveriii
                - Horkýže Slíže
                - Iceage
                - IDLES
                - I Hear Thud
                - Jack White
                - Jake Bugg
                - Japandroids
                - Joanna Newsom
                - John Dwyer
                - John Dwyer, Nick Murray, Brad Caulkins, Tomas Dolas & Greg Coates
                - John Dwyer, Ryan Sawyer, Greg Coates, Wilder Zoby, Andres Renteria
                - John Dwyer, Ryan Sawyer, Peter Kerlin, Tomas Dolas, Brad Caulkins, Kyp Malone, Marcos Rodriguez, Ben Boye, Jocelyn Soubiran, Laena Myers
                - John Dwyer, Ted Byrnes, Greg Coates, Tomas Dolas, Brad Caulkins
                - Johnny Thunder
                - JPEGMAFIA
                - Kedama
                - Khaira Arby
                - Khruangbin
                - Khruangbin & Leon Bridges
                - Kikagaku Moyo
                - 幾何学模様
                - King Buffalo
                - King Gizzard And The Lizard Wizard
                - King Gizzard and the Lizard Wizard
                - King Gizzard & the Lizard Wizard
                - King Gizzard & The Lizard Wizard
                - King Gizzard & the Lizard Wizard + Tropical Fuck Storm
                - King Gizzard & the Lizard Wizard with Mild High Club
                - King Tuff
                - Kurt Vile
                - Kuunatic
                - LAIR
                - La Luz
                - Lavender Country
                - LCD Soundsystem
                - L'Eclair
                - Levitation Room
                - Liam Gallagher
                - Lightning Bolt
                - Lingua Ignota
                - Los Bitchos
                - Los Destellos
                - Mac DeMarco
                - Mahavishnu Orchestra
                - Manzanita y Su Conjunto
                - Martin Rude & Jakob Skøtt Duo
                - Matt Berry
                - Mdou Moctar
                - Meatbodies
                - Melody's Echo Chamber
                - Melt Yourself Down
                - MGMT
                - Michael Kiwanuka
                - Mikal Cronin
                - Mink Mussel Creek
                - Mississippi Nova
                - Mitski
                - Modulator II
                - Moon Duo
                - Moon Hooch
                - Morgan Delt
                - Naked Giants
                - Neutral Milk Hotel
                - Nick Cave & the Bad Seeds
                - Niechęć
                - Night Beats
                - Nolan Potter
                - Oranssi Pazuzu
                - Orville Peck
                - Osees
                - Oh Sees
                - Ouzo Bazooka
                - Oysterhead
                - Panda Bear
                - Parquet Courts
                - Paul Cary
                - Paul Cary & the Small Scarys
                - Peter Gabriel
                - Pile
                - Pigs Pigs Pigs Pigs Pigs Pigs Pigs
                - PJ Harvey
                - Pond
                - Porcupine Tree
                - Porridge Radio
                - Posh Swat
                - Post Animal
                - Primus
                - Protomartyr
                - Psychedelic Porn Crumpets
                - Queens of the Stone Age
                - Radiohead
                - Rammstein
                - Ramona Falls
                - Ranil
                - Ranil y Su Conjunto Tropical
                - Red Hot Chili Peppers
                - Reverend Kristin Michael Hayter
                - Richard Dawson
                - Richard Dawson & Circle
                - Ringo Deathstarr
                - Ryley Walker
                - Slavic Soul Party
                - Sleep
                - Slift
                - Soccer96
                - Sons of Kemet
                - Spiritualized
                - Squid
                - Sudan Archives
                - Swans
                - Sword & Sandals
                - Tame Impala
                - Tata Bojs
                - TEKE::TEKE
                - Temples
                - The Avalanches
                - The Babe Rainbow
                - The Black Angels
                - The Black Keys
                - The Bright Light Social Hour
                - The Comet Is Coming
                - The Decemberists
                - The Drones
                - Thee Oh Sees
                - The Hospitals
                - The Minneapolis Uranium Club
                - The Murlocs
                - The Netmen
                - The Raconteurs
                - The Shivas
                - The Vintage Caravan
                - The War on Drugs
                - The White Stripes
                - Total Control
                - Traffik Island
                - Tropical Fuck Storm
                - TV on the Radio
                - Tyler, the Creator
                - Ty Segall
                - Ty Segall and Mikal Cronin
                - Ty Segall Band
                - Ty Segall & Cory Hanson
                - Ty Segall & Emmett Kelly
                - Ty Segall & Freedom Band
                - Ty Segall, Freedom Band
                - Ty Segall & Mikal Cronin
                - Ty Segall & White Fence
                - U.S. Girls
                - Uncle Acid
                - Uncle Acid & The Deadbeats
                - Viagra Boys
                - Vieux Farka Touré
                - Wand
                - Wasted Shirt
                - Ween
                - Weyes Blood
                - White Denim
                - White Fence
                - WITCH
                - Wine Lips
                - Wolf People
                - Xiu Xiu
                - Yikes
                - YĪN YĪN
                - Youngblood Brass Band
                - Yves Tumor
                - Zement
                - คณะ รุ่งทวี
                - シベールの日曜日
                - ファンシーナムナム
                - むげんのあらわれ
                - 切れ痔のヨーゼフ
                - 幾何学模様
                - 水晶の舟
                - 秘密のミーニーズ

            - name: Labels
              format:
              - FLAC
              source:
              - CD
              - WEB
              - DVD
              - SACD
              - Blu-Ray
              - Soundboard
              - DAT
              - Cassette
              type:
              - Album
              - EP
              - Live album
              quality:
              - 24bit Lossless
              - Lossless
              has_cue: true
              has_log: true
              log_score: 75
              record_label:
              - Guruguru Brain
              - Flightless
              - Flightless Records
              - Castleface
              - Castleface Records
              - Castle Face
              - Stolen Body Records
              - Reverberation Appreciation Society
              - The Reverberation Appreciation Society

  dataFrom:
  - extract:
      key: /pushover
  - extract:
      key: /varroa
