---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app varroa
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph-external
    - name: volsync
      namespace: storage
  values:
    controllers:
      varroa:
        containers:
          main:
            image:
              repository: ghcr.io/frantathefranta/varroa
              tag: v35@sha256:cf44b3b2c3391b15275849e42eb83a6046df273b42c1966eddb49f291af6f081
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    service:
      main:
        controller: varroa
        type: LoadBalancer
        ipFamilyPolicy: RequireDualStack
        annotations:
          lbipam.cilium.io/ips: 10.33.40.66,${CLUSTER_LBA_V6_PREFIX}:66
        ports:
          http:
            port: &port 20346
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.franta.us"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      config-yaml:
        type: secret
        name: varroa-secret
        globalMounts:
          - path: /config/config.yaml
            subPath: config.yaml
            readOnly: true
      music:
        enabled: true
        type: nfs
        path: /emc1/music
        server: ${NAS_IP}
        globalMounts:
          - path: /music
