---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: rook-ceph-cluster
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: v1.18.0
  url: oci://ghcr.io/rook/rook-ceph-cluster
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  interval: 30m
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: rook-ceph-cluster
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
  - name: snapshot-controller
    namespace: storage
  uninstall:
    keepHistory: false
  values:
    operatorNamespace: rook-ceph-external
    cephClusterSpec:
      external:
        enable: true
      crashCollector:
        disable: true
      healthCheck:
        daemonHealth:
          mon:
            disabled: false
            interval: 45s
    monitoring:
      enabled: false # TODO: Fix this when Proxmox Ceph works properly again
      # createPrometheusRules: true
      # externalMgrPrometheusPort: 9283 # IP doesn't need to be specified, operator will find it itself
      # externalMgrEndpoints:
      #   - ip: 10.40.1.50
      #   - ip: 10.40.1.60
      #   - ip: 10.40.1.70
      # interval: 15s

    # -- Settings for the block pool snapshot class
    # @default -- See [RBD Snapshots](../Storage-Configuration/Ceph-CSI/ceph-csi-snapshot.md#rbd-snapshots)
    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: ceph-rbd-snapshot
      isDefault: true
      deletionPolicy: Delete
      # see https://rook.io/docs/rook/v1.10/Storage-Configuration/Ceph-CSI/ceph-csi-snapshot/#rbd-snapshots for available configuration
      parameters: # Only pool needs to be specified as snapshotter secret and clusterID are already pre-selected
        pool: talos-maxi-rbd
    # # -- A list of CephBlockPool configurations to deploy
    # # @default -- See [below](#ceph-block-pools)
    cephBlockPools: {}

    # # -- A list of CephFileSystem configurations to deploy
    # # @default -- See [below](#ceph-file-systems)
    cephFileSystems: {}

    # # -- A list of CephObjectStore configurations to deploy
    # # @default -- See [below](#ceph-object-stores)
    cephObjectStores:
      - name: ceph-objectstore
        spec:
          gateway:
            port: 7480
            externalRgwEndpoints:
              - ip: haproxy-rados-gw.rook-ceph-external.svc.cluster.local # HAproxy endpoint
          allowUsersInNamespaces: ["storage"]
        storageClass:
          enabled: true
          name: ceph-bucket
