---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tandoor
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      tandoor:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/tandoorrecipes/recipes
              tag: 1.5.35@sha256:188da7487f777101c6abe996284df7966d9dd58c9b676447d5f880a5268a4393
            env:
              TZ: America/Detroit
              DEBUG: 1
              ALLOWED_HOSTS: "*"
              DB_ENGINE: django.db.backends.postgresql
              # Postgres
              POSTGRES_HOST: tandoor-pgbouncer.default.svc
              POSTGRES_PORT: 5432
              POSTGRES_USER:
                valueFrom:
                  secretKeyRef:
                    name: tandoor-pguser-recipes
                    key: user
              POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: tandoor-pguser-recipes
                    key: password
              POSTGRES_DB:
                valueFrom:
                  secretKeyRef:
                    name: tandoor-pguser-recipes
                    key: dbname
              DEFAULT_FROM_EMAIL: recipes@franta.dev
              GUNICORN_MEDIA: 0
              REMOTE_USER_AUTH: 0
              FRACTION_PREF_DEFAULT: 0
              COMMENT_PREF_DEFAULT: 1
              SHOPPING_MIN_AUTOSYNC_INTERVAL: 5
              TANDOOR_PORT: &tandoorPort 8000
              ENABLE_SIGNUP: 0
              EMAIL_HOST: smtp-relay.default.svc.cluster.local
              EMAIL_PORT: 25
              SOCIAL_PROVIDERS: allauth.socialaccount.providers.openid_connect
            envFrom:
              - secretRef:
                  name: tandoor-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /accounts/login/
                    port: *tandoorPort
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /accounts/login/
                    port: *tandoorPort
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 256M
              limits:
                memory: 512M
          nginx:
            image:
              repository: ghcr.io/nginxinc/nginx-unprivileged
              tag: 1.27.4
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ipFamilyPolicy: RequireDualStack
        ports:
          http:
            port: &nginxPort 8080
    route:
      app:
        hostnames:
          - recipes.franta.us
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *nginxPort

    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          tandoor:
            app:
              - path: /opt/recipes/mediafiles
                subPath: mediafiles
              - path: /opt/recipes/staticfiles
                subPath: staticfiles
            nginx:
              - path: /media
                subPath: mediafiles
              - path: /static
                subPath: staticfiles
      nginx-config:
        type: configMap
        name: tandoor-configmap
        advancedMounts:
          tandoor:
            nginx:
              - path: /etc/nginx/nginx.conf
                subPath: nginx-config
                readOnly: true
      temp:
        type: emptyDir
        advancedMounts:
          tandoor:
            app:
              - path: /tmp
                subPath: app-tmp
              - path: /opt/recipes/cookbook/static/django_js_reverse
                subPath: django_js_reverse
