---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app zigbee2mqtt
spec:
  targetNamespace: home-automation
  components:

    - ../../../../components/volsync
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph-external
    - name: external-secrets
      namespace: external-secrets
    - name: emqx-cluster
      namespace: database
  path: "./kubernetes/apps/home-automation/zigbee2mqtt/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  interval: 30m
  timeout: 5m
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 500Mi
      VOLSYNC_ACCESSMODES: ReadWriteOnce
      VOLSYNC_STORAGECLASS: ceph-rbd
      VOLSYNC_SNAPSHOTCLASS: ceph-rbd-snapshot
