---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugins-gpu
spec:
  interval: 30m
  chart:
    spec:
      chart: intel-device-plugins-gpu
      version: 0.35.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: intel
        namespace: flux-system
  values:
    name: i915
    # sharedDevNum: 3
    nodeFeatureRule: true
    tolerations:
      - key: special
        operator: Exists
        effect: NoSchedule
      - key: node.kubernetes.io/assignment
        value: intel-gpu
        operator: Equal
        effect: NoSchedule
